results/
data/*
!data/
!data/dataset/
!data/representative_sequences_total.json
!data/clusters.json
!data/preference_scores.json
*.npz
promise_data.egg-info/
examples/
cache/
tmp/

log/
*.log
*.tmp
*.txt
.DS_Store

__pycache__/
*.py[cod]
*$py.class
venv/
.env

miniforge3/