data/asms-bio
data/asms-metal
data/asms-raw
data/asms-subset
data/cif-asms
data/clusters
data/logs
data/msas
data/scores
data/seqs
data/seqcluser_work
results/
data/

*.npz
promise_data.egg-info/
examples/
cache/
tmp/

log/
*.log
*.tmp
*.txt
.DS_Store

__pycache__/
*.py[cod]
*$py.class
venv/
.env

miniforge3/