results/
inference/
data-90/
data-95/
data/*
data_eval/
promise_intermediate_*/
.vscode/
scripts/
AGENTS.md
CLAUDE.md


!data/
!data/dataset/
!data/representative_sequences_total.json
!data/clusters.json
!data/preference_scores.json
*.npz
*.sh
promise_data.egg-info/
examples/
cache/
tmp/

log/
*.log
*.tmp
*.txt
.DS_Store

__pycache__/
*.py[cod]
*$py.class
venv/
.env

miniforge3/